<div class="container" x168113706028-x-test-tpl-1>  <h2 x168113706028-x-test-hook-2>Users</h2>
  <table class="table table-bordered" x168113706028-x-test-hook-3>
    <thead x168113706028-x-test-hook-4>
      <tr x168113706028-x-test-hook-5>
        <th x168113706028-x-test-hook-6>User Id</th>
        <th x168113706028-x-test-hook-7>Firstname</th>
        <th x168113706028-x-test-hook-8>Lastname</th>
        <th x168113706028-x-test-hook-9>Email</th>
      </tr>
    </thead>
    <tbody x168113706028-x-test-hook-10>
      <tr *ngFor="let user of users; let i = index" x168113706028-x-test-hook-11>
        <td x168113706028-x-test-hook-12>{{i + 1}}</td>
        <td x168113706028-x-test-hook-13>{{user.firstName}}</td>
        <td x168113706028-x-test-hook-14>{{user.lastName}}</td>
        <td x168113706028-x-test-hook-15>{{user.email}}</td>
      </tr>
    </tbody>
  </table>
</div>
